{% extends 'layoutAdmin.html.twig' %}

{% block title %}
	{{ parent() }}
	|| Modifier objectif
{% endblock %}

{% block body %}
	<main class='container'>
		<h1 class = "text-center m-5" >Modifier un objectif</h1>

		{{ include('objective/_form.html.twig', {'button_label': 'Modifier'}) }}

	</main>
{% endblock %}
