{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} || Ajouter objectif 
{% endblock %}

{% block body %}
	<main class="container">
		<h1 class="m-5 text-center">Ajouter de nouveau objectif</h1>
			<div class="mt-4">
				{{ include('objective/_form.html.twig') }}
			</div>
	</main>
{% endblock %}
