{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}|| Accueil
{% endblock %}

{% block body %}
	<h1>
		PaleoLife
	</h1>

	<section>
		<div class="card w-100 d-flex container">
			<div class="row g-0">
				<div class="col-md-4">
					<img src={{ asset('/build/images/placeholderservice.jpg') }} class="img-fluid rounded-start m-2" alt="jogging">
				</div>
				<div class="col-md-8 m-auto">
					<div class="card-body">
						<h5 class="card-title">Personal training</h5>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam neque orci, suscipit quis eleifend at, auctor nec nisi. 
                        Nunc porttitor auctor purus, in imperdiet nibh. Etiam mattis consequat mollis. Cras at rutrum enim. Fusce iaculis elit sit amet enim aliquet bibendum.
                        Integer vel urna eros. Integer fringilla at sapien eget dignissim. In semper quis dolor eu blandit. Fusce dignissim diam ipsum, nec semper tellus dictum id. 
                        </p>
						<a href="#" class="btn btn-primary m-2">Me contacter</a>
					</div>
				</div>
			</div>
		</div>
		<div class="card w-100 d-flex mt-4 container">
			<div class="row g-0">
				<div class="col-md-4">
					<img src={{ asset('/build/images/placeholderservice.jpg') }} class="img-fluid rounded-start m-2" alt="jogging">
				</div>
				<div class="col-md-8 m-auto">
					<div class="card-body">
						<h5 class="card-title">Personal training</h5>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam neque orci, suscipit quis eleifend at, auctor nec nisi. 
                        Nunc porttitor auctor purus, in imperdiet nibh. Etiam mattis consequat mollis. Cras at rutrum enim. Fusce iaculis elit sit amet enim aliquet bibendum.
                        Integer vel urna eros. Integer fringilla at sapien eget dignissim. In semper quis dolor eu blandit. Fusce dignissim diam ipsum, nec semper tellus dictum id. 
                        </p>
						<a href="#" class="btn btn-primary m-2">En savoir plus</a>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}