{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	|| Modifier service
{% endblock %}

{% block body %}
	<main class='container'>
		<h1 class="m-5 text-center">Modifier service</h1>
		<section>
			{{ include('service/_form.html.twig', {'button_label': 'Modifier'}) }}
		</section>
	</main>
{% endblock %}
