{% extends 'adminBase.html.twig' %}

{% block title %}{{ parent() }} || Service{% endblock %}

{% block body %}
<main class='container'>
    <h1 class='m-5 d-flex justify-content-center'>Mes services</h1>
    <div>
    <a class='btn btn-primary d-inline-flex justify-content-end' href="{{ path('app_service_new') }}">Ajouter un service</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
            </tr>
        </thead>
        <tbody>
        
        {% for service in services %}
            <tr>
                <td>{{ service.title }}</td>
                <td>
                    <a href="{{ path('app_service_edit', {'id': service.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun service trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</main>    
{% endblock %}
