{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} || Ajouter service{% endblock %}

{% block body %}
<main class="container">
    <h1 class="m-5 text-center">Ajouter un service</h1>
    <section class="mt-4">
    {{ include('service/_form.html.twig') }}
    </section>
    <a class="btn btn-link-primary mt-2" href="{{ path('app_service_index') }}">Retour à la liste</a>
</main>
{% endblock %}
