{% extends 'layoutAdmin.html.twig' %}

{% block title %}{{ parent() }} || Ajouter nutrition{% endblock %}

{% block body %}
<main class="container">
    <h1 class="m-5 text-center">Ajouter une nutrition</h1>
    <section class="mt-4 fs-5">
    {{ include('nutrition/_form.html.twig') }}
    <a href="{{ path('app_nutrition_index') }}">back to list</a>
    </section>
</main>
{% endblock %}



