{% extends 'layoutAdmin.html.twig' %}

{% block title %}{{ parent() }}Modifier Exercice{% endblock %}

{% block body %}
<main class="container">
		<h1 class="m-5 text-center">Modifier un exercice</h1>
		<section>
			{{ include('exercise/_form.html.twig', {'button_label': 'Modifier'}) }}
		</section>
	</main>
{% endblock %}
