{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Modifier Exercice{% endblock %}

{% block body %}
<main class="container">
    <h1 class="mt-4 text-center">Modifier un exercice</h1>
    <a class="d-flex justify-content-end"href="{{ path('app_exercise_index') }}">Retour aux exercices</a>
    {{ include('exercise/_form.html.twig', {'button_label': 'Modifier'}) }}
    {{ include('exercise/_delete_form.html.twig') }}
</main>
{% endblock %}
