{% extends 'layoutAdmin.html.twig' %}

{% block title %}Modifier séance
{% endblock %}

{% block body %}
	<main class="container">
		<h1 class="d-flex justify-content-center my-5">Modifier la séance</h1>
		{{ include('session/_form.html.twig', {'button_label': 'Modifier'}) }}
    </main>
	{% endblock %}
