{% extends 'layoutAdmin.html.twig' %}

{% block title %}Admin ajouter séance
{% endblock %}
{% block javascripts %}{{ encore_entry_script_tags('collection') }}{% endblock %}
{% block body %}
	<main class="container">
		<h1 class="d-flex justify-content-center my-5">Ajouter une nouvelle séance</h1>
		{{ include('session/_form.html.twig') }}
	</main>
{% endblock %}
