<form method="post" action="{{ path('app_measurement_delete', {'id': measurement.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cette mensuration?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ measurement.id) }}">
    <button class="btn btn-danger"><i class="bi bi-trash-fill me-2"></i>Supprimer</button>
</form>
