{% extends 'layoutAdmin.html.twig' %}

{% block title %}
	{{ parent() }}
	|| Ajouter mensuration
{% endblock %}

{% block body %}
	<main class="container">
		<h1 class="m-5 text-center">Ajouter une mensuration</h1>
		<section class="mt-4 fs-5">
			{{ include('measurement/_form.html.twig') }}
		</section>
	</main>
{% endblock %}
