@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200;300;400;500&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');

$primary: #00EA7A;
$dark: #000704;
$light: #f2f7f4;
$navbar-dark-hover-color: rgb(0, 234, 122);
$navbar-dark-color:rgb(247, 244, 244);

$title_font: 'Gothic A1', sans-serif;
$text_font: 'Work Sans', sans-serif;


@import "~bootstrap/scss/bootstrap";
@import "navbar.scss";

h1, h2, h3, h4 {
    font-family: $title_font;
}

body {
    font-family: $text_font;
    background-color: $light;
}

fieldset > div > fieldset > div{
    display: flex;
    justify-content: space-between;
}