@import 'variable.scss';
@import "navbar.scss";

h1, h2, h4 {
    font-family: $title_font;
}

h1 {
    letter-spacing: 2px;
}

body {
    min-height: 100vh;
    z-index: 0;
}

.main-container {
    flex: 1;
}

.mdp {
    color: $mdp-primary-color;
}

.mdp:hover{
    color: $light;
}
