@import 'variable.scss';

.photoBeforeSize {
    height:40rem;
}

.photoClient{
    translate: 0 -4rem;
}

.nav-pills .nav-link.active {
    background-color: black;
}

.nav-link { 
    color: black;
}