$header-size: 16rem;

.div-dark {
    height: $header-size;
    z-index: -1;
}

.div-light {
    height: $header-size;
    z-index: -1;
}

 .homePhoto2 {
     transform: scale(2);
     translate: 1rem $header-size/1.5;
 }

 .rounded-img {
    width: 250px;  
    height: 250px; 
    clip-path:ellipse(50% 50%);
 }