.div-dark {
    height:16rem;
    z-index: -1;
    position: relative;
}

.div-light {
    height:16rem;
    z-index: -1;
    position:relative;
}

.homePhoto {
    height: 470px;
    position:absolute;
    right: 29.5%;
}

