@import 'variable.scss';

.div-dark {
    height: $header-size;
    z-index: -1;
}

.div-light {
    height: $header-size;
    z-index: -1;
}

 .homePhoto2 {
     transform: scale(2);
     translate: 1rem $header-size/1.5;
 }

 .presentation {
    height:23rem;
 }

 .photoPresentation {
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
 }

 .presentationImg {
    transform: scale(2.5);
     translate: 1rem 25rem;
 }