@import 'variable.scss';

h3 {
    font-family: $text_font;
}

.div-dark {
    height: $header-size;
    z-index: -1;
}

.div-light {
    height: $header-size +2rem;
    z-index: -1;
}

.anim-image:hover {
    scale: 1.05;
}

.anim-image {
    transition: 0.5s ease-in-out;
}

.homePhoto2 {
    transform: translate(1rem, 13rem) scale(2);
}

.photoPresentation {
    width: 19rem;
    height: 19rem;
    border-radius: 3px;
}

.presentationImg {
    transform: translate(0rem, 2rem) scale(0.3) ;
}

.greenLogo {
    width: 8rem;
    height: 8rem;
}

.greenLogo2 {
    transform: scaleX(-1);
    width: 8rem;
    height: 8rem;
}