@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200;300;400;500&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');

$primary: #00EA7A;
$dark: #000704;
$light: #fafcfb;
$blue: #0d6efd;
$navbar-dark-hover-color: rgb(0, 234, 122);
$navbar-dark-color:rgb(247, 244, 244);
$mdp-primary-color:rgb(0, 0, 255);

$title_font: 'Gothic A1', sans-serif;
$text_font: 'Work Sans', sans-serif;

$header-size: 16rem;

@import "~bootstrap/scss/bootstrap";