{% extends 'layoutClient.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('client') }}
{% endblock %}
{% block title %}Modifier mon profil
{% endblock %}

{% block body %}
	<main>
		<h1 class="d-flex justify-content-center mt-5">Modifier votre profil
			{{ client.user.name }}</h1>
            {{ include('client/_form.html.twig', {'button_label': 'Modifier'}) }}
		<h2 class="d-flex justify-content-center mt-5">Mensurations</h2>
	</main>
{% endblock %}
