<nav id="sidebar" class="d-flex flex-column sticky-xl-top p-3">
	<h1 class="d-flex justify-content-xl-start justify-content-center my-md-3 mt-3 text-dark ms-2 fw-bold">{{ client.user.name }}</h1>
	<a href="{{ path('client_edit_profil') }}" class="text-secondary fs-5 text-decoration-none ms-xxl-2 mb-3 mb-md-0">Modifier mon profil<i class="bi bi-pencil-square ms-2"></i>
	</a>
	<div class="d-none d-xl-block mt-3">
		<a href="#goal" class="fs-4 d-flex justify-content-start text-dark mt-3 text-decoration-none ms-2">
			<i class="bi bi-speedometer2 me-3"></i>Objectifs</a>
		<a href="#measurement" class="fs-4 d-flex justify-content-start text-dark mt-3 text-decoration-none ms-2">
			<i class="bi bi-rulers me-3"></i>Mensurations</a>
		<a href="#session" class="fs-4 d-flex justify-content-start text-dark mt-3 text-decoration-none ms-2">
			<i class="bi bi-check-all me-3"></i>Séances</a>
		<a href="#nutrition" class="fs-4 d-flex justify-content-start text-dark mt-3 text-decoration-none ms-2">
			<i class="bi bi-cup-straw me-3"></i>Nutrition</a>
	</div>
</nav>
