<nav class="navbar fixed-lg-top navbar-expand-lg navbar-dark bg-black">
	<div class="container-fluid d-flex flex-column align-items-lg-center">
		<div class="w-100 d-flex justify-content-center my-2">
			<img src="{{ asset('build/images/Logo.png') }}" class="w-25 d-none d-sm-block" alt="Logo">
		</div>


		<div class="w-100 d-flex justify-content-center my-2">
			<img src="{{ asset('build/images/Logofeuille.png') }}" class="w-25 d-block d-sm-none" alt="Logo">

			<button class="navbar-toggler ms-auto me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>

		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav w-100 justify-content-center">
				<div class="navbar-nav w-100 d-flex justify-content-between">
					<a class="nav-item nav-link text-light pe-lg-4 align-self-center fs-5" href="/">Accueil</a>
					<a class="nav-item nav-link text-light pe-lg-4 align-self-center fs-5" href="#">Contact</a>
					<a class="nav-item nav-link text-light pe-lg-4 align-self-center fs-5" href="#">Connexion</a>
					<a class="nav-item nav-link text-light pe-lg-4 align-self-center fs-5" href="#">Inscription</a>
				</div>
			</div>

		</div>
		
	</nav>
