<footer class="container-fluid bg-dark">
	<div class="d-flex align-items-center justify-content-evenly">
		<div class="d-flex justify-content-start social-network">
			<a href="#">
				<i class="bi bi-instagram logo-footer"></i>
			</a>
			<a href="#">
				<i class="bi bi-linkedin logo-footer"></i>
			</a>
		</div>
		<div class="d-flex justify-content-start align-items-center information">
        <p>
			<a class="me-1 text-light" href="#">lldb.paleolife@gmail.com</a>
			|
			<a class="ms-1 text-light" href="#">Mentions légales</a>
		</div>
	</div>
</footer>
