<footer class="container-fluid bg-dark text-light">
	<div class="d-flex align-items-center justify-content-evenly">
		<div class="d-flex justify-content-start social-network my-2">
			<a class="me-2" href="#">
				<i class="bi bi-instagram logo-footer"></i>
			</a>
			<a href="#">
				<i class="bi bi-linkedin logo-footer"></i>
			</a>
		</div>
		<div class="d-flex justify-content-start align-items-center information fs-5">
			<a class="link-primary me-1" href="#">lldb.paleolife@gmail.com</a>
			|
			<a class="link-primary ms-1" href="#">Mentions légales</a>
		</div>
	</div>
</footer>
