<footer class="container-fluid bg-">
	<div class="">
    <a href="#"><i class="bi bi-instagram"></i></a>
	<a href="#"><i class="bi bi-linkedin"></i></a>
	</div>
    <div class="">
    <a href="#">lldb.paleolife@gmail.com</a>
    |
    <a href="#">Mentions légales</a>
    </div>
</footer>
