<footer class="container-fluid bg-dark">
	<div class="d-flex align-items-center justify-content-evenly">
		<div class="d-flex justify-content-start w-25">
			<a href="#">
				<i class="bi bi-instagram logo-footer"></i>
			</a>
			<a href="#">
				<i class="bi bi-linkedin logo-footer"></i>
			</a>
		</div>
		<div class="d-flex justify-content-start align-items-center w-75">
			<a class="ms-1" href="#">lldb.paleolife@gmail.com</a>
			<p class="d-flex align-items-center">|</p>
			<a class="me-1" href="#">Mentions légales</a>
		</div>
	</div>
</footer>
