<footer class="container-fluid">
	<div class="">
		<i class="bi bi-instagram"></i>
		<i class="bi bi-linkedin"></i>
	</div>
    <div class="">
    <a href="#">lldb.paleolife@gmail.com</a>
    |
    <a href="#"></a>
    </div>
</footer>
