<footer class="container-fluid bg-dark">
	<div class="d-flex align-items-center">
		<div class="justify-content-start">
			<a href="#">
				<i class="bi bi-instagram logo-footer"></i>
			</a>
			<a href="#">
				<i class="bi bi-linkedin logo-footer"></i>
			</a>
		</div>
		<div class="justify-content-center">
			<a href="#">lldb.paleolife@gmail.com</a>
			|
			<a href="#">Mentions légales</a>
		</div>
	</div>
</footer>
